<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
  xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Reset Password</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body
  style="text-align: center; margin: 0; padding-top: 10px; padding-bottom: 10px; padding-left: 0; padding-right: 0; -webkit-text-size-adjust: 100%;background-color: #000C79; color: #000000"
  align="center">

  <table align="center" style="text-align: center; vertical-align: top; width: 540px; max-width: 540px;">
    <tbody
      style="width: 100%; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;">
      <tr
        style="width: 100%; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;">
        <td
          style="width: 100%; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;">

          <!-- Your logo is here -->
          <img style="width: 130px; max-width: 130px; height: 40px; max-height: 40px; text-align: center; " alt="Logo"
            src="https://res.cloudinary.com/dc9p1uyo0/image/upload/v1708196972/he-group_mn7s5f.png" align="center"
            width="180" height="85">

        </td>
      </tr>
      <tr
        style="width: 100%; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;">
        <td
          style="width: 100%; vertical-align: top; padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 15px;">
          <table align="center" style=" vertical-align: top;  background-color: #ffffff; border-radius: 12px;  padding: 40px 32px;
                        " width="540">
            <tbody>
              <tr style="text-align: justify; line-height: 24px !important;">
                <td
                  style="width: 100%; vertical-align: top; padding-left: 30px; padding-right: 30px; padding-top: 30px; padding-bottom: 70px;">

                  <h1
                    style="font-size: 40px; line-height: 24px; font-family: 'Roboto', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #000C79; margin-bottom: 30px;">
                    Account verification</h1>
                  <h6
                    style="font-size: 15px; line-height: 24px; font-family: 'Roboto', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #000C79; margin-bottom: 10px;">
                    Your One-Time Password (OTP)</h6>
                  <p
                    style="font-size: 14px ;line-height: 24px; font-family: 'Roboto'; font-weight: 400; text-decoration: none; color: #485A64; margin-bottom: 10px;">
                    Your OTP is: <strong>{{otp}}</strong>
                  </p>
                  <p
                    style="font-size: 14px ;line-height: 24px; font-family: 'Roboto'; font-weight: 400; text-decoration: none; color: #485A64; margin-bottom: 10px;">
                    Please use this OTP to complete your action. This OTP will get expired in 2 mins</strong>
                  </p>
                  <p
                    style="font-size: 14px ;line-height: 24px; font-family: 'Roboto'; font-weight: 400; text-decoration: none; color: #485A64;">
                    Best regards,
                  </p>
                  <p
                    style="font-size: 14px ;line-height: 24px; font-family: 'Roboto'; font-weight: 400; text-decoration: none; color: #485A64;">
                    HeGroup
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>