@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-light-1 text-dark-1 min-h-screen font-inter;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #DEE0EE;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background-color: #DEE0EE;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #000C79;
  }

  /* Regular */
  .inter-regular-14 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }

  /* Medium */
  .inter-regular-32 {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-variation-settings: "slnt" 0 !important;
  }

  .card_headings {
    line-height: 0px;
    letter-spacing: 0px;
  }

  .form_labels {
    line-height: 22px;
    letter-spacing: 0px;
  }

  .p-inputgroup {
    height: 42px !important;
  }

  .form_check,
  .p-checkbox-box {
    height: 16px !important;
    width: 16px !important;
    border-radius: 2px !important;
  }

  body {
    font-family: 'Inter', sans-serif !important;
  }

  .login_cards {
    max-width: 520px;
    padding: 40px;
  }

  .login_cards .form_container {
    max-width: 320px;
    min-width: 320px;
  }

  .reset_card .form_container {
    max-width: 379px !important;
    min-width: 379px !important;
  }

  .reset_password form {
    max-width: 320px;
    min-width: 320px;
  }

  .login_cards .action_button {
    margin-top: 12px !important;
  }

  .p-inputgroup input,
  .p-inputgroup span {
    height: 42px;
    border: 1px solid;
    border-color: #000;
  }

  .p-inputgroup .p-inputgroup-addon:first-child {
    border-right: none !important;
  }

  .p-inputgroup .p-inputgroup-addon:last-child {
    border-left: none !important;
  }

  .p-inputgroup .p-inputtext {
    border-left: none !important;
    padding: 10px 8px 10px 4px !important;
  }

  .p-inputgroup-addon {
    padding: 10px 0px 10px 8px !important;
    min-width: max-content !important;
  }
}

@layer primereact {

  .p-inputtext,
  .p-inputgroup-addon {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-variation-settings: "slnt" 0 !important;
  }

  .p-inputtext:enabled:focus {
    outline: none !important;
    outline-offset: 0;
    box-shadow: none !important;
  }

  .p-inputgroup:focus-within>.p-inputgroup-addon {
    border: 1px solid #000C79;
  }

  .login_cards .p-card-content {
    padding: 0px !important;
  }

  .p-card .p-card-body {
    padding: 0px !important;
  }

  .logo-container {
    height: 85px;
  }

  .left-sidebar-link {
    min-height: 60px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    @apply text-secondary-link
  }

  .left-sidebar-web-link {
    min-height: 37px;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 500;
    line-height: 100%;
    @apply text-secondary-link
  }

  .rotated {
    transform: rotate(-180deg);
    transform-style: ease-in;
  }

  .dropdown-arrow {
    transition: transform 0.3s ease-in-out;
    /* Add a transition for smooth rotation */
  }
}

@layer utilities {

  /* Medium */
  .inter-regular-32 {
    font-family: "Inter", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-size: 32px !important;
    font-style: normal !important;
    font-variation-settings: "slnt" 0 !important;
  }

  /* TYPOGRAPHY */
  .h1-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[24px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[20px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[18px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[10px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[10px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[10px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[8px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .p-button {
    background: none !important;
    padding: 0px !important;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  /* .leftsidebar::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
    border-radius: 2px !important;
  }

  .leftsidebar::-webkit-scrollbar-track {
    background: #09090a !important;
  }

  .leftsidebar::-webkit-scrollbar-thumb {
    background: #5c5c7b !important;
    border-radius: 50px !important;
  } */

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .p-tabmenu .p-tabmenu-nav {
    border: none !important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #EEF2FF;
    border-color: #EEF2FF !important;
    color: #4338CA !important;
  }

  .p-image-toolbar {
    @apply bg-primary-500 text-white;
  }

  .p-dialog {
    @apply p-12;
  }

  .common-container {
    @apply flex flex-col flex-1 gap-10 overflow-auto py-10 px-5 md:px-8 lg:p-14;
  }

  /* All Users */
  .user-container {
    @apply flex flex-col items-start w-full gap-6 md:gap-9;
  }

  .user-grid {
    @apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  /* Explore */
  .explore-container {
    @apply flex flex-col flex-1 items-center overflow-scroll py-10 px-5 md:p-14;
  }

  .explore-inner_container {
    @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .explore-search {
    @apply h-12 bg-slate-100 border-none placeholder:text-light-4 focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
  }

  /* Home */
  .home-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14;
  }

  .home-posts {
    @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .home-creators {
    @apply hidden xl:flex flex-col w-72 2xl:w-465 px-6 py-10 gap-10 overflow-scroll;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 items-center;
  }

  .post_details-card {
    @apply bg-dark-2 w-full max-w-5xl rounded-[30px] flex-col flex xl:flex-row border border-dark-4 xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 bg-dark-1;
  }

  .post_details-info {
    @apply bg-dark-2 flex flex-col gap-5 lg:gap-7 flex-1 items-start p-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply p-0 flex gap-3 hover:bg-transparent hover:text-light-1 text-light-1 small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    @apply flex-center gap-3 py-4 w-48 bg-dark-2 transition flex-1 xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:p-14;
  }

  /* Bottom bar */
  .bottom-bar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    @apply hidden;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
  }

  .file_uploader-label {
    @apply text-light-4 text-center small-regular w-full p-4 border-t border-t-dark-4;
  }

  .file_uploader-box {
    @apply flex-center flex-col p-7 h-80 lg:h-[612px];
  }

  /* Grid Post List */
  .grid-container {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  .grid-post_link {
    @apply flex rounded-[24px] border border-dark-4 overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-dark-3 to-transparent rounded-b-[24px] gap-2;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply md:flex flex-col justify-between min-w-[248px] overflow-scroll;
    ;
  }

  .leftsidebar-link {
    @apply base-medium hover:bg-light-blue hover:text-primary-500 transition;
  }

  /* Post Card */
  .post-card {
    @apply bg-light-1 rounded-3xl border border-dark-4 p-5 lg:p-7 w-full max-w-screen-sm;
  }

  .post-card_img {
    @apply h-64 xs:h-[400px] lg:h-[450px] w-full rounded-[24px] object-cover mb-5;
  }

  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden bg-light-1 w-full;
  }

  /* User card */
  .user-card {
    @apply flex-center flex-col gap-4 border border-dark-4 rounded-[20px] px-5 py-8;
  }
}

@layer components {

  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-black !important;
  }

  .shad-form_message {
    @apply text-error !important;
    font-size: 14px;
    font-family: 'Inter' !important;
    line-height: 14px;
  }

  .shad-input {
    @apply h-12 bg-slate-100 border-none placeholder:text-light-4 focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  .shad-textarea {
    @apply h-36 bg-slate-100 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 hover:bg-primary-500 text-light-1 flex gap-2 !important;
  }

  .shad-button_dark_4 {
    @apply h-12 bg-dark-4 px-5 text-light-1 flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-primary-600 !important;
  }

}